{{>header}}

<body>

    <div class="navigation">

        <div>
            <a href="./home">HOME</a>
        </div>

        <div>
            <a href="./login">LOGIN</a>
        </div>

        <div>
            <a href="./register">REGISTER</a>
        </div>

    </div>
    <h1>
        <a id="welcome" href="https://www.youtube.com/watch?v=hxADTEJalRw">__{{greeting}}__</a>
    </h1>


    {{>app}}